#container h1 {
  color: white;
  font-size: 48px;
}
@media screen and (min-width: 840px) {
  #container h1 {
    padding-left: 358px;
  }
}
#header {
  display: flex;
  flex-flow: row;
  text-align: left;
  width: 100%;
}
#form-top-stripe {
  background-color: #1bfec0;
  bottom: 0px;
  height: 3px;
  margin-top: -51px;
  margin-left: -10px;
  width: 70px;
  z-index: 2;
}
#form-container {
  display: flex;
  flex-flow: row;
}
#form-sidebar {
  background-image: url(../img/form-sidebar.png);
  clear: both;
  display: flex;
  float: left;
  height: 552px;
  order: 1;
  width: 308px;
}
#form-sidebar img {
  margin: auto;
}
#form-body {
  background-color: #f9f9fb;
  clear: both;
  color: #202020;
  display: flex;
  float: right;
  height: 552px;
  order: 2;
  vertical-align: middle;
  width: 472px;
  padding: 50px;
  display: flex;
  flex-direction: column;
}
#form-description {
  margin-bottom: 50px;
}
#form-navigation {
  color: white;
  display: flex;
  float: right;
  font-size: 11px;
  height: 552px;
  order: 3;
  padding-top: 100px;
  width: 55px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
#form-navigation div {
  margin-bottom: 60px;
}
#form-navigation p {
  margin-left: 10px;
}
#form-navigation div.active {
  border-top: 1px solid #1af2b8;
  width: 25px;
}
#form-navigation div.inactive {
  border-top: 1px solid #585858;
  width: 25px;
}
.clip-path {
  clip-path: polygon(100% 0%, 100% 100%, 100% 100%, 100% 0%);
}
.form-row {
    display: flex;
}
#mobile_prefix {
  width: 100px;
}
#form-buttons {
  width: 730px;
  margin-top: -25px;
  margin-right: -100px;
}
#btn-continue {
  background: #8658eb; /* For browsers that do not support gradients */
  background: linear-gradient(to right, #8658eb , #6931e4); /* Standard syntax */
  color: white;
  cursor: pointer;
  float: right;
  font-size: 14px
  font-weight: bold;
  height: 50px;
  position: relative;
  text-align: center;
  vertical-align: middle;
  width: 190px;
  z-index: 2;
}
.form-gender {
  padding: 0 20px 10px 0;
}
#arrow {
  background-color: #7841f4;
  color: white;
  cursor: pointer;
  float: right;
  font-size: 14px
  font-weight: bold;
  float: right;
  height: 50px;
  text-align: center;
  width: 50px;
}
.input-field input[type=text]:focus {
  border-bottom: 1px solid #531fc0;
  box-shadow: 0 1px 0 0 #531fc0;
}
