#container h1 {
  color: white;
  float: left;
  font-size: 48px;
}
#header {
  display: flex;
  flex-flow: row;
}
#form-container {
  display: flex;
  flex-flow: row;
}
#form-sidebar {
  background-image: url(../img/form-sidebar.png);
  clear: both;
  display: flex;
  float: left;
  height: 552px;
  order: 1;
  width: 308px;
}
#form-sidebar img {
  margin: 0 auto;
}

#form-body {
  background-color: #f9f9fb;
  clear: both;
  color: #202020;
  display: flex;
  float: right;
  height: 552px;
  order: 2;
  vertical-align: middle;
  width: 472px;
  padding: 50px;
}
input, label {
  display: block;
}

#mobile_prefix {
  width: 100px;
}
