#overlay-logo {
  height: 500px;
  left: 50%;
  margin-top: -250px; /* Half the height */
  margin-left: -250px; /* Half the width */
  position: absolute;
  top: 50%;
  width: 500px;
  z-index: 100;
}
#overlay-left {
  background-color: #e4e3e9;
  height: 100%;
  left: 0;
  position: absolute;
  width: 100%;
  z-index: 50;
}
#overlay-right {
  background-color: #e4e3e9;
  height: 100%;
  left: 45%;
  position: absolute;
  width: 55%;
  z-index: 50;
}
#container {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  margin: 0 auto;
  padding: 0;
  position: relative;
  width: 780px;
  z-index: 10;
}
#bg-gradient {
  left: 0;
  position: fixed;
  top: 0;
  z-index: 5;
}
#bg-lines {
  bottom: 0;
  position: fixed;
  right: 0;
  z-index: 5;
}
